<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.dudu9999.com.qualprova">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Objetos.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Telas.TelaSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Telas.TelaInicioActivity"
            android:label="@string/title_activity_tela_inicio"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Telas.TelaPerfilActivity"></activity>
        <activity android:name=".Telas.TelaLoginActivity"></activity>
        <activity android:name=".Telas.TelaAdcionaProvaActivity"></activity>
        <activity android:name=".Telas.TelaAboutActivity"></activity>
    </application>

</manifest>